<h1>To Do List</h1>

<h3 class="text-info">Here are my tasks for the day</h3>

<ul class="list-group">
  <% @task.each() do |task| %>
  <li class="list-group-item text-success"><%= task.description() %></li>
  <% end %>
</ul>

<p>Create a new task:</p>

<form action="/list" method="post">
  <label for="description">Task Description</label>
  <input id="description" name="description" type="text">

  <button class="btn btn-primary"  type="submit">Add to list</button>

</form>
