<!DOCTYPE html>
<html>
  <head>
    <title>To Do List!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css'>
    <!-- <link rel='stylesheet' href='style/bootstrap.css'> -->
  </head>
  <body class="">
    <div class="container-fluid">
    <div class="jumbotron">
      <%= yield %>
    </div>
    </div>
  </body>
</html>
