<h1>Your task has been successfully saved!</h1>

<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h3>You've got more stuff to do now!</h3>
</div>

<div class="well">
  <p>
    <a href="/" class="btn btn-success">Back</a>
  </p>
</div>
